<%- include('../partials/header'); %>

    <main class="main main-home container text-center">
        <h2 class="home-header">
            welcome to my page about countries!
        </h2>
        <img src="/media/World.png" alt="Picture Of The World" class="img-fluid world-image">
    </main>

<%- include('../partials/footer'); %>